<!doctype html>
<!-- robotafm/Capsule/m_BD/templates/base.html
    m_BD module web page -->
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div align="center">
		<h1>{% block m_OCR_name %} {% endblock %}</h1>
		<div>{% block m_OCR_description %} {% endblock %}</div>
		</div>
		<div align="center">
			<form>
				<button>{% block button_start %} {% endblock %}</button>
				<button>{% block button_stop %} {% endblock %}</button>
				<button>{% block button_restart %} {% endblock %}</button>
			</form>
		</div>
		<div align="center">
			<form enctype="multipart/form-data" method="post">
			<p><input type="file" name="{% block input_file %} {% endblock %}">
			<input type="submit" value="{% block button_submit %} {% endblock %}"></p>
			</form> 
		</div>
		<div align="center" style="display: inline;">
			<form action="/prev_page/" method="post">
				<button name="button_prev_page" type="submit">{% block button_prev_page %} {% endblock %}</button>
			</form>
			<p>{% block page %} {% endblock %}/{% block page_count %} {% endblock %}</p>
			<form action="/next_page/" method="post">
    			<button name="button_next_page" type="submit">{% block button_next_page %} {% endblock %}</button>
			</form>
		</div>
		<div style="position: absolute; top: 150px">
		{% block text_page %} {% endblock %}
		</div>
	</body>
</html>
